@use '../variables' as *;

header {
  background-color: $first-color;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 90px;

  section {
    display: flex;
  }

  img {
    margin: 5px 20px 0 0;
    filter: invert(1);
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    letter-spacing: 4px;
    color: #ffba08;
  }
}

.account_buttons {
  padding: 8px;
  width: 150px;
  border-radius: 30px;
  background-color: $second-color;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $fourth-color;
    color: white;
  }
}

h4 {
  padding-left: 40px;
}

.first-letter {
  color: #ffba08;
  font-weight: bold;
}
