@use '../globals' as *;

#logged_user {
  display: flex;
  padding: 30px;
  gap: 50px;

  a {
    text-decoration: none;
    color: black;
  }
}

.titles {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  color: black; // tu musisz ustawić konkretny kolor, bo w CSS był pusty var(--)
  border-radius: 10px;
  background-color: $third-color;

  img {
    width: 128px;
    height: 128px;
  }
}

.highlight {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: $accent;
}
