@use 'variables' as variables;

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 50px;
  row-gap: 30px;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  row-gap: 30px;
}

@mixin title-style {
  background-color: variables.$titles_color;
  border: 2px solid variables.$border_color_1;
  transition: border-color 0.3s ease;

  &:hover{
    border-color: variables.$border_color_2;
  }
}
