    //variables
//fonts
$font-family: "Amarante", serif;

//titles
$titles_color: #dee2e6;

//borders
$border_color_1: #ced4da;
$border_color_2: gray;

//unsorted
$background_color:#f8f9fa;
$first-color: #0a1128;
$second-color: #1e96fc;
$fourth-color: #ef233c;
$fifth-color: #006400;
$accent_2: #0a1128;

//test
$test_color: #1d3557;