@import url(components_styles/header.css);

:root{
    --background_color:#edede9;
    --first_color:#0a1128;
    --second_color:#1e96fc;
    --third_color:#1976d2;
    --fourth_color:#ef233c;
    --fifth_color:#006400;
    --accent:#ffba08;
    --accent_2:#0a1128;
}

*{
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html{
    background-color: var(--background_color);
}