@use '../globals' as *;

form {
  margin: 100px 0;
  background-color: $second-color;
  width: 600px;
  border: 3px solid $accent-2;
  padding: 50px;
  font-size: 20px;
  text-align: center;

  input {
    width: 90%;
  }

  button {
    
    background-color: $first-color;
    color: white;
  }

  #errorDiv {
    background-color: #ef233c;
    color: white;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
  }
}
