@use '../globals' as *;
a {
  color: white;
  text-decoration: none;
}

form {
  margin: 100px 0;
  background-color: $second-color;
  width: 80%;
  border: 3px solid $accent-2;
  padding: 50px;
  font-size: 20px;
  text-align: center;

  input {
    margin: 5px 0 40px 0;
    border-radius: 30px;
    border: 2px solid $accent-2;
    height: 30px;
    width: 450px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  button {
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    background-color: $first-color;
    color: white;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    
    &:hover {
      background-color: $third-color;
    }
  }

  .inputDiv {
    width: 450px;
  }

  .labelDiv {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .error {
    background-color: #ef233c;
    color: white;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    border-radius: 5px;
    justify-self: flex-end;
    font-size: 20px;
    margin-right: 20px;
  }

  label {
    background-color: $first-color;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 20px;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 45%;
}
