@use '../globals' as *;
a {
  color: white;
  text-decoration: none;
}

form {
  background-color: $second-color;
  width: 80%;
  border: 3px solid $accent-2;
  padding: 50px;
  font-size: 20px;
  text-align: center;

  input {
    width: 450px;
  }

  button {
    background-color: $first-color;
    color: white;
    
    
    &:hover {
      background-color: $titles_color;
    }
  }

  .inputDiv {
    width: 450px;
  }

  .labelDiv {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .error {
    background-color: #ef233c;
    color: white;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    border-radius: 5px;
    justify-self: flex-end;
    font-size: 20px;
    margin-right: 20px;
  }

  label {
    background-color: $first-color;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 20px;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 45%;
}
